<%- include("partials/header"); -%>

<h1> <%=postTitle%> </h1>
<p><%=postContent%></p>
<form action="/delete" method="post">
    <button type="submit" name="delete" value="<%=postTitle%>" class="btn btm-gray">delete</button>
</form>
<%- include("partials/footer"); -%>